.stats {
    width: 160px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.stats input {
    width: 50px;
}

.game-field {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.game-field .row {
    height: 16px;
    display: flex;
}

.game-field .row .field {
    height: 16px;
    width: 16px;
    background: url('/static/img/closed-field.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .field.mine {
    height: 16px;
    width: 16px;
    background: url('/static/img/closed-field.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .mine {
    height: 16px;
    width: 16px;
    background: url('/static/img/mine.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .flag {
    height: 16px;
    width: 16px;
    background: url('/static/img/flag.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .flag.mine {
    height: 16px;
    width: 16px;
    background: url('/static/img/flag.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .openField {
    height: 16px;
    width: 16px;
    background: url('/static/img/open-field.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    color: blue;
}